* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: #fcfdff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

.stack {
  background-color: #1a032c;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 2em 1.2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.face:hover {
  filter: drop-shadow(0 0 2em #f6fb61aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
  padding: 2rem 0;
  background-color: white;
  border-top: 0.4rem solid rgb(233, 31, 31);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1),
    0px 2px 6px 0px rgba(0, 0, 0, 0.06);
  text-align: center;
}

.header h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #1a032c;
}

main {
  margin: 40px auto 0px auto;
  padding: 1rem;
  min-width: 150px;
  max-width: 500px;
}

main p {
  margin-bottom: 30px;
  max-width: 500px;
  line-height: 1.5em;
  text-align: center;
}

.ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
  /* min-width: 150px;
  max-width: 500px; */
}

.ingredient-form > input {
  border-radius: 5px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
}

.ingredient-form > button {
  font-family: Inter, sans-serif;
  text-wrap: nowrap;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 6px;
  border: none;
  background-color: #1a032c;
  color: white;
  width: 150px;
}

.ingredient-form > button::before {
  content: "+";
  margin-right: 7px;
}

main ul {
  margin-top: 2.55rem;
  margin-left: 1.5rem;
}

main > ul > li {
  padding: .5rem;
}